<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>London Hotel Room Reservations</title>
</head>
<body>
<h1>Welcome to the Reservation Page</h1>
<table>
  <tr>
    <td>Room</td>
    <td>Room Number</td>
    <td>Guest</td>
  </tr>
  <tr th:each="roomReservation: ${roomReservations}">
    <td th:text="${roomReservation.room.name}">Room Name</td>
    <td th:text="${roomReservation.room.roomNumber}">Room Number</td>
    <td th:text="${roomReservation.guest} != null ? ${roomReservation.guest.lastName} + ', ' + ${roomReservation.guest.firstName}: 'VACANT'">Guest name</td>

  </tr>
</table>

</body>
</html>